/* =========================================
   DASHBOARD MAIN LAYOUT
========================================= */

.dashboard-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: #f7f8fa;

  /* margin-left: 255px; */
  /* width: calc(100% - 255px); */
}


/* =========================================
   RIGHT SIDE
   Header + Main Content
========================================= */

.dashboard-header-content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;

    margin-left: 255px;
  width: calc(100% - 255px);
}


/* =========================================
   MAIN CONTENT
========================================= */

.dashboard-main-content {
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  margin-top: 20px;
}


/* =========================================
   CHARTS SECTION
========================================= */

.dashboard-charts {
  width: 100%;
  display: flex;
  align-items: stretch;
  gap: 24px;
  margin-top: 70px;
}


/* =========================================
   CHART ITEMS
========================================= */

.dashboard-charts > * {
  min-width: 0;
}


/* User Growth Chart */

.dashboard-charts > :first-child {
  flex: 1;
}


/* Blood Group Chart */

.dashboard-charts > :last-child {
  width: 386px;
  flex-shrink: 0;
}



/* Emergency-frame styleing  */

.Emergency-frame {
  width: 100%;
  display: flex;
  align-items: stretch;
  gap: 24px;
  margin-top: 70px;
}
.Emergency-request-section {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}


/* Donor-Activity-section  */

.Donor-Activity-section {
  margin-top: 20px;
  display: flex;
  align-items: space-between;
  width: 100%;
}



/* blood-bank-section  */
.blood-bank-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

/* total-recent-charity  */
.total-recent-charity {
  margin-top: 50px;
}